#careers .line {
    width: 20px;
    height: 3px;
    background-color: blue;
    margin: 0px 0px 0px 15px;
}

#careers .careerImg {
    width: 90%;
}

#careers button {
    background-color: var(--Mid-blue);
    color: white;
}

#careers .HappyDiv {
    padding: 20px 20px;
    background-color: var(--Light-White);
    border: 0.5px solid #CBD5D5;
    border-radius: 8px;
}

#careers .searchjob {
    background-color: var(--Light-White);
    padding: 30px 0px;
}

.searchscroll {
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.searchscroll::-webkit-scrollbar {
    width: 0px;
}

#careers .searchScrollCol {
    background-color: white;
    border-radius: 8px;
    border: 0.5px solid #DCDCDC;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}


#careers ul li::marker {
    content: "✔";
    color: #045C5D;
    font-size: 15px;
}

#careers ul li {
    padding: 8px 5px;
}

#careers .fileupload {
    background: rgba(100, 139, 172, 0.9);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(17px);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 250px;
    margin-bottom: 40px;
    padding: 30px 30px;
    width: 85%;
}

.fileDiv {
    position: relative;
}

#careers input[type="file"] {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: white;
    width: 100%;
}

#careers input[type="file"]::-webkit-file-upload-button {
    display: none;
}

#careers .fileDiv button {
    opacity: 1;
    position: absolute;
    right: 0px;
    top: 40px;
    border: none;
    outline: none;
    z-index: 0;
    padding: 8px 20px;
    background-color: #045C5D;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#careers .fileDiv p {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 85px;
    height: 50px;
}
.search-scroll-swiper .swiper-button-prev, .swiper-button-next{
    content: none !important;
}