/* courselisting.css */
.course-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .course-card:hover {
    transform: scale(1.05);
  }
  
  .icon-container {
    font-size: 2rem;
  }
  
  .course-icon {
    width: 90%;
    display: inline-block;
  }
  
  .course-details {
    display: flex;
    flex-direction: column;
  }
  
  .course-details .card-title {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .course-details .card-text {
    font-size: 1rem;
    color: #666;
  }
  